* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-container {
  height: 2500px;
  width: 1500px;
  border: 2px solid black;
  margin: auto;
  margin-top: 20px;
}
.container {
  height: 1500px;
  width: 1000px;
  border: 2px solid black;
  margin: auto;
  margin-top: 20px;
  /* position: relative; */
}
.box {
  height: 150px;
  width: 150px;
  border: 1px dashed blue;
}
.static {
  background-color: aqua;
  color: black;
  text-align: center;
  /* position: static; */
  /* top: 100px; */
  z-index: (1);
}
.reletive {
  background-color: grey;
  color: black;
  text-align: center;
  /* position: relative; */
  /* top: 10px; */
  /* left:100px; */
  /* right: 100px; */
  /* bottom: 100px; */
}
.absolute {
  background-color: green;
  color: black;
  text-align: center;
  /* position: absolute; */
  /* right: 100px; */
  left: 400px;
}
.fix {
  background-color: yellow;
  color: black;
  text-align: center;
  /* position: fixed; */
}
.sticky {
  background-color: teal;
  color: black;
  text-align: center;
  position: sticky;
  top: 0;
  /* bottom: 0; */
}
